h1{
    text-align: center;
    margin-top: 10px;
    color:white;
}
body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    margin-top: 150px;
    position: absolute;
    right: 200px;
    width: 600px;
    height: fit-content;
    border: 5px solid slateblue;
    padding: 20px 20px;
 
}
#todo{
    width: 70%;
    height: 38px;
    border: 2px solid slateblue;
}
#add{
    width: 10%;
    height: 43px;
    background-color: #63bbf2;
}
#text{
    margin-top: 25px;
}
